body {
  margin: 0;
  overflow: hidden;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#scene-container canvas {
  width: 100%;
  height: 100%;
}

#action-helper {
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  max-width: 200px;
  z-index: 10;

  word-wrap: break-word;

  text-align: center;
  color: #103442;
}

#next-tetromino-block {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 20;
  text-align: center;
}

#next-tetromino-block > .next-block-row {
  display: flex;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#next-tetromino-block > .next-block-row:last-child {
  border-bottom: 1px solid black;
}

#next-tetromino-block > .next-block-row > .next-block-col {
  background-color: white;
  border-right: 1px solid black;
  width: 30px;
  height: 30px;
}

span {
  color: #103442;
}

span.block-title {
  color: #103442;
  font-weight: 600;
}

#game-info-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 20;
  width: 150px;
  text-align: center;
}

#game-fields {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.game-field {
  display: flex;
  justify-content: space-between;
}

.game-field > span:first-child {
  font-weight: 600;
}

#game-over {
  z-index: 40;
  position: fixed;
  background-color: white;
  padding: 10px;
  border-radius: 20px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  text-align: center;

  display: none;
}

#gray-layer {
  z-index: 30;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  display: none;
}
